.ant-form-item-label {
  font-weight: 600;
}

.ant-dropdown-menu-item {
  padding: 8px !important;
}

.ant-menu-item,
.ant-menu-submenu-title {
  padding-left: 8px !important;
}

.ant-menu-sub {
  border-left: 1px solid var(--ant-color-split) !important;
  margin-left: 23px !important;
  padding-left: 0px !important;
}

.ant-menu-submenu-arrow {
  inset-inline-end: 8px !important;
}

.ant-menu-title-content {
  transition: none !important;
}
